root{
    --primary: #fff;
    --secondary: #e9e3db;
    --warning: #000;
    --danger: #ff9a19;
    --info: #c68f0c;
    --dark: #28252f;
}

.bg-dark{
    background: var(--dark);
}

.bg-secondary{
    background: var(--secondary);
}

.bg-primary{
    background: var(--primary);
}

.nv-link{
    color: var(--danger);
}

.btn-info{
    background: var(--info);
}

