<div class="container info">
    <div class="text-center">
        <h1>About</h1>
    </div> 
    <div class="logo-box d-flex flex-column justify-content-around">
        <div class="chrono row"> 
            <div class="ellipse col-3 col-xl-2 rounded-circle timeline-icon">
                <img class="rounded-circle mx-auto d-block mt-1" src="assets/img/logo_afpa_SM.jpg" alt="logo afpa">      
            </div>
            <div class=" col-9">
                <h2 class="date">18 Septembre 2019</h2>
                <p>Entrée en Formation DWWM à l'AFPA</p>
            </div>
        </div>
        <div class="chrono row"> 
            <div class="ellipse col-3 col-xl-2 rounded-circle timeline-icon timeline-iconup">
                <img class=" logo rounded-circle mx-auto d-block mt-1" src="assets/img/logo.png" alt="logo DWWM#2">      
            </div>
            <div class=" col-9">
                <h2>13 Novembre 2019</h2>
                <p>Création du site entreprise Web-Agency</p>
            </div>
        </div>
        <div class="chrono row"> 
            <div class="ellipse col-3 col-xl-2 rounded-circle timeline-icon timeline-iconup">
                <img class=" logo rounded-circle mx-auto d-block mt-1" src="assets/img/pe.png" alt="logo Période entreprise">      
            </div>
            <div class=" col-9">
                <h2>09 Mars au 15 Mai 2020</h2>
                <p>Période en entreprise : 350 heures</p>
            </div>
        </div>
        <div class="chrono row"> 
            <div class="ellipse col-3 col-xl-2 rounded-circle timeline-iconup">
                <img class=" logo rounded-circle mx-auto d-block mt-1" src="assets/img/chapeau.png" alt="logo diplôme">      
            </div>
            <div class=" col-9">
                <h2>28 Mai 2020</h2>
                <p>Certification puis retour à la vie professionnelle</p>
            </div>
        </div>
    </div>
</div>
