    <div class="info">
        <div class="text-center title__shadow">
            <h1>About</h1>
        </div> 
        <div class="logo-box d-flex flex-column justify-content-around">
            <div class="chrono"> 
                <div class="ellipse rounded-circle timeline-icon">
                    <img class="logo rounded-circle mx-auto d-block mt-1" src="assets/img/logo_afpa_SM.png" alt="logo afpa">      
                </div>
                <div class="aboutBox text-center">
                    <h2 class="date">18 Septembre 2019</h2>
                    <p>Entrée en Formation DWWM à l'AFPA</p>
                </div>
            </div>
            <div class="chrono"> 
                <div class="ellipse rounded-circle timeline-icon">
                    <img class="logo rounded-circle mx-auto d-block mt-1" src="assets/img/logo.png" alt="logo DWWM#2">      
                </div>
                <div class="aboutBox text-center">
                    <h2 class="date">13 Novembre 2019</h2>
                    <p>Création du site Web-Agency</p>
                </div>
            </div>
            <div class="chrono"> 
                <div class="ellipse rounded-circle timeline-icon">
                    <img class="logo rounded-circle mx-auto d-block mt-1" src="assets/img/pe.png" alt="logo Période entreprise">      
                </div>
                <div class="aboutBox text-center">
                    <h2 class="date">09 Mars au 15 Mai 2020</h2>
                    <p>Période en entreprise : 350 heures</p>
                </div>
            </div>
            <div class="chrono"> 
                <div class="ellipse rounded-circle timeline-icon">
                    <img class="logo rounded-circle mx-auto d-block mt-1" src="assets/img/chapeau.png" alt="logo diplôme">      
                </div>
                <div class="aboutBox text-center">
                    <h2 class="date">28 Mai 2020</h2>
                    <p>Certification puis retour à la vie professionnelle</p>
                </div>
            </div>
        </div>
    </div>
<hr>
