<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Icone du site -->
    <link rel="icon" href="{{"assets/img/logo-1.png" |relative_url}}" />
    <!-- liens vers le CDN de Google font -->
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato&display=swap" rel="stylesheet"> <!--lato-->
    <!-- Lien vers mes fichiers css -->
    <!-- <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" type="text/css"> -->
    
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{{ page.title }}</title>
  </head>
  