<header class="container-fluid mb-5">

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-dark row">
        <div class="navbar-brand col-12 col-md-5 align-middle bg-info logo-bg" >
            <a href="{{ "index.html" | relative_url }}"><img src="{{"./assets/img/logo-1.png" | relative_url}}" width="80" height="80"
                class="d-inline-block align-top" alt="logo-DWWM#2"></a>
            <a href="{{ "blog.html" | relative_url }}" class="navbar-brand text-secondary">Le blog officiel de<br/><span class="name">DWWM#2</span></a>
        </div>

        <form class="form-inline my-2 my-lg-0 col-12 col-md-6 justify-content-md-end">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

</header>