<header class="container-fluid mb-3 sticky-top">

    <!-- Image and text -->
    <nav class="row navbar navbar-dark bg-dark">
        <div class="col-12 col-md-6 navbar-brand align-middle">
            <a href="{{ "index.html" | relative_url }}" class="d-none d-md-inline-block"><img src="{{"./assets/img/logo-1.png" | relative_url}}"
                    width="50" height="50" class="d-inline-block mr-2" alt="logo-DWWM#2"></a>
            <a href="{{ "blog.html" | relative_url }}" class="navbar-brand text-secondary">
                Le blog officiel de <span class="navbar-brand-text">DWWM#2</span></a>
        </div>

        <form class="col-12 col-md-4 my-2 my-lg-0 justify-content-md-end d-flex flex-row nowrap">
            <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info  my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </nav>

</header>