<header>

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light mb-5">
        <a class="navbar-brand" href="{{ "blog.html" | relative_url }}">
            <img src="{{"assets/img/logo-1.png" | relative_url}}" width="30" height="30"
                class="d-inline-block align-top" alt="logo-DWWM#2">
            Le blog officiel de DWWM#2
        </a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

</header>