<div class="card col-12 col-md-6 col-lg-4 mb-2" style="width: 14rem;">
    <div class="card-body bgCardImage text-center">
        <div class="container">
            <div class="row">
                <div class="col-3 my-auto">
                    <img src="{{ include.parent.iconPath }}" alt="icon">
                </div>
                <div class="col-9">
                    <p class="card-title h2">{{ include.parent.title }}</p>
                    <p class="card-text h3 ">
                        {{ include.parent.excer }}<br>
                        {{ include.parent.content | markdownify }}
                    </p>
                    {% if include.parent.socialIcons != "" %}
                        <p class="container">
                            <p class="row justify-content-end">
                                <p class="col-5 offset-8">
                                    <img src="{{ include.parent.socialIcons }}" alt="icon">
                                </p>
                            </p>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>