{% comment %} Needed for integration waiting for sass merge... {% endcomment %}
{% comment %} TODO: Remove from this include and link from main.sass {% endcomment %}

<!-- Je l'es desactivée car ca fait doublons avec le Sass que on a fait plus haut GEOFFRAY-->
<!-- <link rel="stylesheet" type="text/css" href="{{ "assets/main.css" | relative_url }}">
</link> -->
{% comment %} End TODO {% endcomment %}

<div class="text-center title__font__param title__shadow">CONTACT</div>
<form class="contact" id="contact_form" action="#" method="POST" enctype="multipart/form-data">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <label class="required mt-3" for="name">votre nom:</label>
        <input id="name" class="__input form-control my-3" name="name" type="text" value="" size="40" />
        <span id="name_validation" class="error_message"></span>
        <label class="required" for="email">votre email:</label>
        <input id="email" class="__input form-control my-3" name="email" type="text" value="" size="40" />
        <span id="email_validation" class="error_message"></span>
        <label class="required" for="message">votre message:</label>
        <textarea id="message" class="__input form-control my-3" name="message" rows="9" cols="40"></textarea>
        <span id="message_validation" class="error_message"></span>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-info btn-lg mb-4">Envoyer</button>
</form>