<footer id="footer" class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 d-inline-block text-primary my-auto">
                Copyright: 2019 - 2022
            </div>
            <div class="col-4 d-inline-block text-center">
                <a href="https://fr-fr.facebook.com/Page.VarMatin" class="m-2 d-none d-md-inline">
                    <img class="m-2" src="{{"./assets/img/Social/fb.png" | relative_url }}">
                </a>
                <a href="https://fr.linkedin.com/company/departement-du-var" class="m-2">
                    <img class="m-2" src="{{"./assets/img/Social/LinkedIn.png" | relative_url }}">
                </a>
                <a href="https://github.com/formation-dwwm" class="m-2 d-none d-md-inline">
                    <img class="m-2" src="{{"./assets/img/Social/github.png" | relative_url }}">
                </a>
            </div>
            <div class="col-4 d-inline-block text-right my-auto">
                <a href="#" class="flex-fill text-danger">
                    Privacy policy
                </a>
                <a href="#" class="flex-fill text-danger">
                    Terms of use
                </a>
            </div>
        </div>
    </div>
</footer>