<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <!-- Icone du site -->
    <link rel="icon" href="{{"assets/img/logo.png" |relative_url}}" />
    
    <!-- liens vers le CDN de Google font -->
    
    
    <!-- <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" type="text/css"> -->
    <!-- liens vers le CDN de bootstrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <!-- Lien vers mes fichiers css -->
    <!-- <link rel="stylesheet" href="{{"/style/colors.css" |relative_url}}"> -->
    <link rel="stylesheet" href="{{"style/main.css" |relative_url}}">
    <title>{{ page.title }}</title>
  </head>
  