<header id="jumbotron" class="jumbo">
    <div class="bg-darkness">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col d-flex-column h-100">
                    <div class="h-66">
                        <div class="display-5 h-66 d-flex m-5 align-items-center text-primary text-center">
                            New dev generation made that site for you.
                            Fly off in this new era.
                        </div>
                    </div>
                    <div class="text-center h-33">
                        <a href="#service" class="btn btn-info btn-lg btn-geant">Let's go !</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</header>