<header id="jumbotron" class="jumbo">
    <div class="bg-darkness">
        <div class="container">
            <div class="row vh-100 justify-content-center align-items-center">
                <div class="col d-inline">
                    <div class="display-4 text-center text-primary m-5">
                        Welcome to web site of the new better team of the world mother fucker !
                    </div>
                    <div class="text-center">
                        <a href="#service" class="btn btn-info btn-lg btn-geant">Let's go !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>