
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" onclick="navbarCollapse();">
    <a href="#jumbotron">
        <img class="navbar__resize-Img" src="{{"./assets/img/logo-1.png" | relative_url}}" alt="logo">
    </a>
    <button class="navbar-toggler bg-info" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav" >
        <ul class="m-0 navbar-nav"  >
            <li class="nav-item active">
                <a class="nav-link text-danger" href="#services">Services <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="#team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="#partners">Partners</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="#about">About</a>
            </li>
            
            <li role="separator" class="dropdown-divider"></li>
            <li class="nav-item">
                <a class="nav-link text-danger" href="{{"./blog.html"|relative_url}}">Blog</a>
            </li>
            <li role="separator" class="dropdown-divider"></li>
            <li class="nav-item">
                    <a class="nav-link text-danger" href="#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
