<div class="bannerPartners d-flex justify-content-around">
    <div class="row boxLogo">
        <div class="logoPartners col-12 col-md-4">
            <a href="https://www.afpa.fr/"><img class="logopartner img-fluid" src="assets/img/logo_afpa_SM.png" alt="logoafpa"></a>
        </div>
        <div class="logoPartners col-12 col-md-4">
            <a href="https://www.maregionsud.fr/"><img class="logopartner img-fluid" src="assets/img/logo_conseil_regional.jpg"
                    alt="logoconseilregional"></a>
        </div>
        <div class="logoPartners col-12 col-md-4">
            <a href="http://www.fse.gouv.fr/"><img class="logopartner img-fluid" src="assets/img/logo_Fse.svg" alt="logofondFse"></a>
        </div>
    </div>
</div>