
<style>
        .logopartner{
            height: 70px;
            width: 70px;
        }
    </style>

<div class="container" id="partners">
        <div class="row">
            <div class="col col-md-4">
                <a href="https://www.afpa.fr/"><img class="logopartner" src="assets/img/logo_afpa-removebg-preview.png" alt="logoafpa"></a>
            </div>
            <div class="col col-md-4">
                <a href="https:https://www.maregionsud.fr/"><img class="logopartner" src="assets/img/logo_conseil_regional.jpg"
                        alt="logoconseilregional"></a>
            </div>
            <div class="col col-md-4">
                <a href="http://www.fse.gouv.fr/"><img class="logopartner" src="assets/img/logo_Fse.svg" alt="logofondFse"></a>
            </div>
    
    
    
        </div>
    </div>