<div class="container-fluid">
    <p>PORTFOLIO</p>
    <div class="row"> 
        <div class="col-12 col-md-4">
            <h2>Charte de fonctionnement</h2>
                <img class="img-fluid" src="assets/img/charte.svg" alt="Charte">
                    <p>Création d’un site graphique.<br> Présente les différentes règles de la charte
                        de fonctionnement de la formation de développeur web de l’AFPA.</p>
        </div>
        <div class="col-12 col-md-4">
            <h2>Calculette graphique</h2>
                <img class="img-fluid" src="assets/img/calculette.svg" alt="Calculette">
                    <p>Elaboration d’une calculatrice graphique pratique et intuitive.<br>
                        Disponible sur tous les moteurs de recherches et en application mobile.</p>
        </div>
        <div class="col-12 col-md-4">
            <h2>Présentation des terminaux</h2>
                <img class="img-fluid" src="assets/img/terminaux.svg" alt="Terminaux">
                    <p>Présentation des terminaux à travers du web statique.<br>
                        Site internet de présentation fonctionnel et organisé.
                            </p>
        </div>
    </div>
</div>

