<head>
    <link rel="stylesheet" href="portfolio.css">
</head>

<div class="container-fluid">
    <p class= "text-center">PORTFOLIO</p>
    <div class="container-fluid row m-0">
        <div class="grid-container w-md-30">
            <h2 class= "text-center title centerV" >Charte de fonctionnement</h2>
                <img class="img-fluid photo" src="assets/img/charte.svg" alt="Charte">
                <p class="text-center text centerV">Création d’un site graphique.<br> Présente les différentes règles de la charte
                de fonctionnement de la formation de développeur web de l’AFPA.</p>
                <!-- <div class="d-flex justify-content-center"> -->
                    <a href="https://lisplib.github.io/charte-dwwm-v2/"class="btn btn-warning button center">voir le site</a>
                <!-- </div> -->
        </div>
        <div class="grid-container w-md-30">
            <h2 class= "text-center title centerV">Calculette graphique</h2>
                <img class="img-fluid photo" src="assets/img/calculette.svg" alt="Calculette">
                    <p class="text-center text centerV">Elaboration d’une calculatrice graphique pratique et intuitive.<br>
                        Disponible sur tous les moteurs de recherches et en application mobile.</p>
                        <!-- <div class="d-flex justify-content-center"> -->
                            <a href="https://formation-dwwm.github.io/graphcalc-js/" class="btn btn-warning button center">voir le site</a>
                        <!-- </div> -->
        </div>
        <div class="grid-container w-md-30">
                <h2 class= "text-center title centerV">Présentation des terminaux</h2>
                    <img class="img-fluid photo" src="assets/img/terminaux.svg" alt="Terminaux">
                        <p class="text-center text centerV">Présentation des principaux terminaux au travers du web statique.
                            Site internet de présentation fonctionnel et organisé.</p>
                            <!-- <div class="d-flex justify-content-center"> -->
                                <a href="https://geoffray-buhler.github.io/Projet_markdown/" class="btn btn-warning button center">voir le site</a>
                            <!-- </div> -->
        </div>
    </div>
</div>

