body{
    font-size: 20px;
}

h1{
    text-shadow: 3px 3px 9px #28252f;
}

h2{
    font-size: 24px;
}

.ellipse{
    background: #e9e3db;
    height: 70px;
    box-shadow: 0px 5px 5px 5px #343b41;
}
.logo{
    width: 62px;
    height: 62px;
}

.logo-box{
    height: 90vh;
    margin-left: 10px;
}

.timeline-icon:before{
    content: "";
    position: absolute;
    width: 5px;
    height: calc(100% + 100px);
    background: #343b41;
    top: 70px;
    left: 89px;
}

.chrono.row:last-child .timeline-icon:before{
    width: 0px;
    background: white;
    height: 0;
}

@media screen and (max-width: 780px){
    .timeline-icon:before{
        content: "";
        position: absolute;
        width: 5px;
        height: calc(100% + 50px);
        background: #343b41;
        top: 70px;
        left: 45px;
    }
}

@media screen and (max-width: 1080px){
    .timeline-icon:before{
        content: "";
        position: absolute;
        width: 5px;
        height: calc(100% + 100px);
        background: #343b41;
        top: 70px;
        left: 48px;
    }
}