.blog-body {
font-family: 'Lato', sans-serif;
}

//BLOG-NAVBAR
.navbar-brand-text {
    font-family: 'Alfa Slab One', cursive;
}

//BLOG-HOME
.card-article-title {
    color: black;

    &:hover {
        text-decoration: none;
        color: black;
    }
}

.search-result {
    background: color(primary);
}
.results-marker {
    list-style-type: none;
}