.bgCardImage {
    display: block;
    background: url(../assets/img/bgCard.svg) no-repeat bottom right;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.font__color__dark {
    color: color("dark");
}