.bg__card__image {
    display: block;
    background: url(../assets/img/bgCard.svg) no-repeat bottom right;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.card__size{
    width: 14rem;
    border-radius: 20px;
}

.card__shadow{
    @include border-shadow-t;
}

.card__parent__padding{
    margin: 5px;
    // padding: 5px;
}
