.bg-jumbo {
    filter: brightness(0.5);
    top: 1;
    right: 1;
    bottom: 1;
    left: 1;
}

.jumbo {
    height: 100vh;
    background-image: url($jumboBackgroundLink);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-darkness {
    height: 100vh;
    background-color: #00000080;
}

.btn-geant {
    padding: 0.5rem 3rem;
    font-size: 3rem;
}

.h-66 {
    height: 66%;
}

.h-33 {
    height: 33%;

#particles-js{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
}
