.navbar {
    @include border-shadow-t;
    z-index: 100;

    &__resize-Img {
        height: 50px;
    }
}

.containBar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.containBarShow{
    display:block;
}

.containBarDelete{
    display:none;
}