@import "mixin";

.navbar {
    &__resize-Img {
        height: 50px;
    }

    &__nav-fixed {
        width: 100%;
        z-index: 1;
        position: fixed;
        @include border-shadow;
    }

}

