.contact {
    box-sizing: border-box;
    background-image: url($contactLink);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Lato', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #C68F0C;
    
}

.required {
    background-color: #0d0d0ddb;
    padding: 0 5px 5px;
}

.__input {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 10%;
}
