@mixin border-shadow-t {
    -webkit-box-shadow: 0px 12px 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 12px 12px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 12px 12px -1px rgba(0, 0, 0, 0.75);
}
@mixin border-shadow-b{
    -webkit-box-shadow: 0px -12px 12px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -12px 12px -1px rgba(0,0,0,0.75);
box-shadow: 0px -12px 12px -1px rgba(0,0,0,0.75);
}