.bgImage {
    display: block;
    background: url(../assets/img/bgCard.svg) no-repeat bottom right;
    // bottom right;
    // background-image: url(../assets/img/bgCard.svg);
    background-size: auto auto;
    width: 100%;
    height: 100%;
}
