.ellipse{
    color: #333;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    word-wrap: normal;
}

.ellipse img{
    border-radius: 40%;
    width: 250px;
    background: rgb(219, 219, 213);
    box-shadow: 0 2px 2px 2px rgb(172, 172, 171);
    height: 150px;
    margin: auto;
}

.line::before{
    content:'';
    position: absolute;
    top: 150px;
    left: calc(50vw - 20px);
    background: rgb(219, 219, 213);
    height: calc(100% + 200px);
    width: 4px;
}

.box{
    height: 100vh;
    width: calc(100vw - 40px);
    display: flex;
    flex-direction: column;
    margin: 20px;
}

h1{
    text-align: center;
    color: #333;
}

h2{
    font-size: 24px;
    margin: 1%;
}

p{
    font-size: 18px;
    /* width: calc(25vw - 10px); */
}

.ellipse .aLeft{
    text-align: left;
}

.ellipse .aRight{
    text-align: right;
}

@media screen and (max-width: 764px){
    .ellipse{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .aRight{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        word-wrap: break-word;
        width: 100%;
    }

    .aLeft{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        word-wrap: break-word;
        width: 200px;
}

.aRight p{
    width: 200px;
}

.aLeft h2{
    width: 200px;
}