---
layout: default
---
{%- include navBar.html -%}
<section id="jumbotron">
    {%- include header.html -%}
</section>
<section id="services">
    {%- include services.html -%}
</section>
<section id="portfolio">
    {%- include portfolio.html -%}
</section>
<section id="team">
    {%- include team.html -%}
</section>
    {%- include floating.html -%}
<section id="partners">
    {%- include partners.html -%}
</section>
<section id="about">
    {%- include about.html -%}
</section>
<section id="contact">
    {%- include contact.html -%}
</section>
{%- include footer.html -%}