---
layout: default
---
{%- include navBar.html -%}
<div id="jumbotron">
    {%- include header.html -%}
</div>
<div id="services">
    {%- include services.html -%}
</div>
<div id="portfolio">
    {%- include portfolio.html -%}
</div>
<div id="team">
    {%- include team.html -%}
</div>
    {%- include floating.html -%}
<div id="partners">
    {%- include partners.html -%}
</div>
<div id="about">
    {%- include about.html -%}
</div>
<div id="contact">
    {%- include contact.html -%}
</div>
{%- include footer.html -%}